td{
    max-width: 300vw;
    width: 300vw;
    // height: 9rem;
    // max-height: 9rem;
    overflow: hidden;
    overflow-x: hidden;
    // background-color: blanchedalmond;
}
tr{
    // max-height: 10%;
    // height: 10%;
    // background-color: aqua;
}