mat-card{
    width: 50vw;
    height: 50vh;
}
mat-card-content{
    overflow-y: hidden;
    overflow-x: hidden;
}
.app-wrapper {
    height: 100%;
    margin: 0;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 100pt;
  }