<mat-card>
    <mat-card-content>
        <app-filestream-view></app-filestream-view>
        
        <!-- <app-news-view></app-news-view> -->
        <!-- <app-news-full-view></app-news-full-view> -->

        <!-- <app-info-view></app-info-view> -->

        <!-- <app-calendar-full-view></app-calendar-full-view> -->
        <!-- <app-calendar-view></app-calendar-view> -->

        <!-- <app-smhi-full-view></app-smhi-full-view> -->
        <!-- <app-smhi-view></app-smhi-view> -->

        <!-- <app-barometer-view></app-barometer-view> -->
    </mat-card-content>
</mat-card>