<table>
    <tr><td><img width="100" src="sogeti-logo.svg"/></td></tr>
    <tr><td class="cell-text"><img src="{{ smhiUrl }}{{ smhiValue?.symbol }}" /></td></tr>
    <tr><td class="cell-text">Ute: {{smhiValue?.temperature?.toFixed()}}&deg; C</td></tr>
    <tr><td class="cell-text">Inne: {{barometerValue?.temperature?.toFixed()}}&deg; C</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td class="large-cell-text"><b>{{calculateLocale(date) | date: 'HH:mm':'sv-SE'}}</b></td></tr>
    <tr><td class="cell-text">{{calculateLocale(date) | date: 'EEEE dd MMMM':'sv-SE'}}</td></tr>
</table>
