td{
    max-width: 300vw;
    width: 300vw;
    overflow: hidden;
    overflow-x: hidden;
    text-align: center;
}
//tr{
    // max-height: 10%;
    // height: 10%;
    // background-color: aqua;
//}